*.code-workspace
*.egg-info
*.gz
*.log
*.pk
.coverage
.darkwing-env
.mypy_cache
.pytest_cache
.vscode
__pycache__
client/.dart_tool
client/.packages
client/build
conf/local.ini
data/messages.json
docker/dev/server.crt
TODO.*
