<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="scanner">
    <th mat-header-cell *matHeaderCellDef> Scanner </th>
    <td mat-cell *matCellDef="let element"> {{element.scanner}} </td>
  </ng-container>

  <ng-container matColumnDef="command_line">
    <th mat-header-cell *matHeaderCellDef> Command Line </th>
    <td mat-cell *matCellDef="let element"> {{element.command_line}} </td>
  </ng-container>

  <ng-container matColumnDef="uploaded">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Uploaded </th>
    <td mat-cell *matCellDef="let element"> {{element.uploaded}} </td>
  </ng-container>

  <ng-container matColumnDef="host_count">
    <th mat-header-cell *matHeaderCellDef> # Hosts </th>
    <td mat-cell *matCellDef="let element"> {{element.host_count}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>
